@font-face {
    font-family: 'Untitled2';
    src: url('Untitled2.woff2') format('woff2'),
        url('Untitled2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

